h1 {
  color: red;
  padding: 0%;
  border-style: solid;
  text-align: center;
}

p {
  padding: 0px;
  text-align: center;
}

.form, .information, .main_form {
	padding: 1rem;
	margin: 2rem 0;
	border: 1px solid black;
}
.form label , .information label, .main_form label {
	font-weight: bold;
}
.form div, .information div, .main_form div {
	margin: 1rem 0;
}
